:root {
    --blue: #0260AF;
    --red: #EC1F23;
    --dark-grey: #272727;
    --grey: #f7f7f7;
}

a {
    color: var(--dark-grey);
    text-decoration: none;
    transition: .3s color;
}

a:hover {
    text-decoration: none;

    color: var(--blue);
}

section.padded {
    padding: 1em;
}

#footer,
#footer a {
    color: whitesmoke;
}

.bg-dark .title {
    font-size: 18px;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    padding-right: 1em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.bg-dark .title .red {
    color: var(--red);
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.bg-dark {
    background: var(--dark-grey);
}

.bg-grey {
    background: var(--grey);
}

.btn {
    border-radius: 0;
    padding: 5px 10px;
}

.bg-dark .btn.btn-dark {
    border: 2px solid white;
}

.bg-dark .btn.btn-dark:hover {
    color: white !important;
}

.max-height {
    max-height: 100%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background: var(--dark-grey);
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
    transition: 0.3s all;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background: var(--blue);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
    background: var(--red);
    color: white;
}

.product .col-md-1,
.product .col-md-2,
.product .col-md-3,
.product .col-md-4,
.product .col-md-5,
.product .col-md-6,
.product .col-md-7,
.product .col-md-8,
.product .col-md-9,
.product .col-md-10,
.product .col-md-11,
.product .col-md-12 {
    background: white;
    border: 2px solid var(--grey)
}

.bg-dark textarea,
.bg-dark input {
    -webkit-appearance: none;
    color: white;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    border: none;
    border: 2px solid white;
    padding: 5px 10px;
    width: 100%;
}

.bg-dark textarea.input-bottom,
.bg-dark input.input-bottom {
    border: none;
    border-bottom: 2px solid white;
}

.fa {
    transition: 0.3s color;
}

.fa.red {
    color: var(--red);
}

.fa.fa-facebook:hover {
    color: #3b5998;
}

.fa.fa-twitter:hover {
    color: #1DA1F2;
}

.fa.fa-google-plus:hover {
    color: #dd4b39;
}

.fa.fa-youtube:hover {
    color: #bb0000;
}