---
layout: default
---

<div>

  {{ content }}
  <div class="hero"></div>
  <div class="container-fluid bg-green">
    <div class="container">
      <span class=" text-italic text-lg">
      Since 1985 CATRA has offered an opportunity for Capital Area residents from all generations with all types of special and typical needs to establish an atmosphere of support, respect, and health.  We come together in an equestrian farm environment offering a therapeutic riding experience to those able to benefit from it.
    </span>
    </div>
  </div>
</div>
