<%- include('layouts/head') -%>

<section class="container-fluid bg-grey padded">
<div class="container">
    <div class="row product">
        <a href="/products"><div class="col-md-3 col-sm-3 text-center center-block">
            <img src="/images/vehicle/jeepjk.png" alt="Jeep JK" class="img-responsive">
            <h2 class="title">Jeep JK</h2>
        </div></a>
        <a href="/products"><div class="col-md-3 col-sm-3 text-center center-block">
            <img src="/images/vehicle/jeepxjmj.png" alt="Jeep XJ/MJ" class="img-responsive">
            <h2 class="title">Jeep XJ/MJ</h2>
        </div></a>
        <a href="/products"><div class="col-md-3 col-sm-3 text-center center-block">
            <img src="/images/vehicle/jeepzj.png" alt="Jeep ZJ" class="img-responsive">
            <h2 class="title">Jeep ZJ</h2>
        </div></a>
    </div>

    <div class="row product">
        <a href="/products"><div class="col-md-3 col-sm-3 text-center center-block">
            <img src="/images/vehicle/jeepcj.png" alt="Jeep CJ" class="img-responsive">
            <h2 class="title">Jeep CJ</h2>
        </div></a>
        <a href="/products"><div class="col-md-3 col-sm-3 text-center center-block">
            <img src="/images/vehicle/jeeptjlj.png" alt="Jeep TJ/LJ" class="img-responsive">
            <h2 class="title">Jeep TJ/LJ</h2>
        </div></a>
        <a href="/products"><div class="col-md-3 col-sm-3 text-center center-block">
            <img src="/images/vehicle/jeepwj.png" alt="Jeep WJ" class="img-responsive">
            <h2 class="title">Jeep WJ</h2>
        </div></a>
    </div>

    <div class="row product">
        <a href="/products"><div class="col-md-3 col-sm-3 text-center center-block">
            <img src="/images/vehicle/jeepyj.png" alt="Jeep YJ" class="img-responsive">
            <h2 class="title">Jeep YJ</h2>
        </div></a>
    </div>
</div>
</section>



<%- include('layouts/foot') -%>