<section class="container-fluid collapse bg-dark padded" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-11"><h1 class="title">Contact <span class="red">Us</span></h1></div>
            <div class="col-xs-1"><a href="#contact" data-toggle="collapse" data-target="#contact"><i
                            class="fa fa-times-circle fa-2x red"></i></a></div>
            <div class="col-md-6">
                <form action="#">
                    <input type="text" placeholder="Name"><br>
                    <input type="text" placeholder="Email"><br>
                    <input type="text" placeholder="Subject"><br>
                    <textarea name="msg" id="" cols="30" rows="10" placeholder="Messege"></textarea><br>
                    <input type="button" value="send »" class="btn btn-dark">
                </form>
            </div>
            <div class="col-md-6">
                <address>
                    AtoZ Fabrication <br>
                    15 Saint Charles St. <br>
                    Schuylkill Haven, PA 17972 <br><br>

                    (570) 385-3931 <br>
                    <a href="mailto:info@atozfabrication.com">info@atozfabrication.com</a> <br>
                    M-Fr 9:00am - 6:00pm <br>
                    Weekends by Appointment <br>
                </address>
                <ul class="list-inline list-unstyled">
                    <li><a href="https://www.facebook.com/AtoZ-Fabrication-123271701041659/" target="_blank"><i
                                    class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/search?q=atoz%20fabrication&src=typd" target="_blank"><i
                                    class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://plus.google.com/114387971821473597461" target="_blank"><i
                                    class="fa fa-google-plus fa-2x"></i></a></li>
                    <li><a href="https://www.youtube.com/user/atozfabrication" target="_blank"><i
                                    class="fa fa-youtube fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>