<section id="footer" class="container-fluid bg-dark padded">
    <footer class="container">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <h1 class="title">Shop</h1>
                    <li class="list-unstyled"><a href="">Test Content</a></li>
                    <li class="list-unstyled"><a href="">Test Content</a></li>
                    <li class="list-unstyled"><a href="">Test Content</a></li>
                    <li class="list-unstyled"><a href="">Test Content</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <h1 class="title">Quick Links</h1>
                    <li class="list-unstyled"><a href="">Test Content</a></li>
                    <li class="list-unstyled"><a href="">Test Content</a></li>
                    <li class="list-unstyled"><a href="">Test Content</a></li>
                    <li class="list-unstyled"><a href="">Test Content</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h1 class="title">Get the latest news!</h1>

                <form action="#">
                    <input type="text" placeholder="Email"><br>
                    <input type="button" value="subscribe »" class="btn btn-dark">
                </form>
            </div>
        </div>
    </footer>
</section>