<section id="footer" class="container-fluid bg-dark padded">
    <footer class="container">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <h1 class="title">Shop</h1>
                    <li class="list-unstyled"><a href="">My Orders</a></li>
                    <li class="list-unstyled"><a href="">Return Policy</a></li>
                    <li class="list-unstyled"><a href="">Terms and Conditions</a></li>
                    <li class="list-unstyled"><a href="">Privacy Statement</a></li>
                    <li class="list-unstyled"><a href="">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <h1 class="title">Quick Links</h1>
                    <li class="list-unstyled"><a href="">Products</a></li>
                    <li class="list-unstyled"><a href="">Shop by Vehicle</a></li>
                    <li class="list-unstyled"><a href="">Fabrication Services</a></li>
                    <li class="list-unstyled"><a href="">About A to Z</a></li>
                    <li class="list-unstyled"><a href="">Contact</a></li>
                    <li class="list-unstyled"><a href="">Gift Cards</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h1 class="title">Get the latest news!</h1>

                <form action="#">
                    <input type="text" placeholder="Email"><br>
                    <input type="button" value="subscribe »" class="btn btn-dark">
                </form>
                <br>
                <ul class="list-inline list-unstyled">
                    <li><a href="https://www.facebook.com/AtoZ-Fabrication-123271701041659/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/search?q=atoz%20fabrication&src=typd" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://plus.google.com/114387971821473597461" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
                    <li><a href="https://www.youtube.com/user/atozfabrication" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</section>